@model IEnumerable<wnct2.Models.Framework.Quanao>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mahh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenhh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DongGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hsd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mahh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DongGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hsd)
            </td>
            <td>

                <img src="~/Areas/Asset/FileUpload/@Html.DisplayFor(modelItem => item.Anh)" style="height:60px;" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Mahh }) |
                @Html.ActionLink("Details", "Details", new { id = item.Mahh }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Mahh })
            </td>
        </tr>
    }

</table>*@


<div class="col-lg-6" style="margin-left:248px;margin-top:-30px">

    <div class="card" style="width: 1245px;min-height: 1200px;">
        <p style="margin-left:1100px;margin-top:20px">
            @Html.ActionLink("CREATE NEW", "Create")
        </p>
        <div class="card-body">
            <div class="card-title">
                <h4>Table Categories</h4>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Mahh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tenhh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DongGia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Producer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Hsd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Anh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mota)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mahh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tenhh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DongGia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hsd)
                            </td>
                            <td>

                                <img src="~/Areas/Asset/FileUpload/@Html.DisplayFor(modelItem => item.Anh)" style="height:60px;" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mota)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Mahh }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Mahh }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Mahh })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
